
*{
    margin: 0;
}
.parent{
    padding: 20px;
    background-color: rgb(33, 221, 33);
}

.child{
    background-color: rgb(240, 73, 22);
    padding: 5px;
}

.child input{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid blue;
    padding-left: 10px;
    font-size: 16px;
}

P{
    font-size: 18px;
}